.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    padding: 0 5%;
    height: 4rem;
    width: 100vw;
    color: #000;
    background-color: #fff;
    overflow-x: hidden;
    position: fixed;
    z-index: 5;
    border-bottom: 1px solid #EE3024;
}

.header img {
    height: 3.5rem;
    width: auto;
    margin-left: 40%;
}

.hamburger:hover {
    cursor: pointer;
}

.logo {
    font-weight: bold;
}

.nav {
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color:#ffffff;
    border-right: 1px solid #EE3024;
    top: 0;
    left: 0;
    z-index: 10;
}

.close-menu {
    float: right;
    margin-top: 7%;
    margin-right: 10%;
    background: transparent;
    border: none;
    font-size: 1.5rem;
}

.close-menu:hover {
    cursor: pointer;
}

.movie-choices {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 1rem;
    margin-top: 30%;
    margin-left: 10%;
}

.movie-choices button {
    border: none;
    background: transparent;
    font-size: 1.3rem;
}

.movie-choices button:hover {
    cursor: pointer;
}

.profilebtn {
    margin-top: 7%;
    display: flex;
    align-items:center;
    text-decoration: none;
    color: black;
}

.ghost {
    font-size: 1.3rem;
}

.logout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logout button {
    position: absolute;
    bottom: 7%;
    border: none;
    background: transparent;
    font-size: .9rem;
}

.logout button:hover {
    cursor: pointer;
}
