.toptendisplay {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    top: 8%;
    gap: 2rem;
    margin-left: 4%;
    margin-right: 4%;
}