/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Barlow', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  overflow-x: hidden;
}


/* Auth Page */
.auth-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('https://wallpaperbat.com/img/193826-wes-anderson-wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Home page */
.home-page {
  background-color: #F8F3E4;
  background-repeat: repeat-y;
  height: 2000px;
  width: 100vw;
  position: relative;
  top: 4rem;
}

.home-page h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 5%;
}

.prevnext {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0 8%;
  top: 7%;
}

.prevnext button {
  border: none;
  border-bottom: 1px solid #ee3024;
  background: transparent;
  font-size: 1rem;
  padding: 0;
}

.prevnext button:hover {
  cursor: pointer;
  opacity: 70%;
}

.prevnext p {
  border: 1px solid #ee3024;
  border-radius: 50%;
  padding: 10px 15px;
}


/* Top Rated Page */
.top-page {
  background-color: #F8F3E4;
  background-repeat: repeat-y;
  height: 2000px;
  width: 100vw;
  position: relative;
  top: 4rem;
}

.top-page h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 5%;
}


/* Trending Page */
.trending-page {
    background-color: #F8F3E4;
    background-repeat: repeat-y;
    height: 2000px;
    width: 100vw;
    position: relative;
    top: 4rem;
}

.trending-page h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 5%;
}


/* Profile Page */
.profile-page {
  background-color: #F8F3E4;
  background-repeat: repeat-y;
  height: 2000px;
  width: 100vw;
  position: relative;
  top: 4rem;
}